<!DOCTYPE html>
<html ng-app="FoosBar">
    <head>
        <title>Foosball Ranking System</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <link type="text/css" media="all" href="css/bootstrap.min.css" rel="stylesheet" />
        <link type="text/css" media="all" href="css/bootstrap-theme.min.css" rel="stylesheet" />
        <style type="text/css">
            body {
              padding-top: 100px;
            }
        </style>
    </head>

    <body>
        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <h2><a href="#">Foosball Ranking System</a></h2>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#leaderboards">Leaderboards</a></li>
                <li><a href="#start">Start Game</a></li>
                <li><a href="#register">Register Player</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>

        <a name="leaderboards" style="padding-top: 100px"></a>
        <div class="container">
          <!-- Four Columns -->
          <div class="row">
            <div class="col-lg-3" ng-controller="MonthlyLeaderBoardControl">
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Monthly Leaderboard</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                          <li class="list-group-item">
                            <span class="badge">14</span>
                            Player One
                          </li>
                        </ul>
                    <p><a class="btn btn-default" href="#" role="button">View all &raquo;</a></p>
                    </div>
                </div>
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3" ng-controller="QuarterlyLeaderBoardControl">
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Quarterly Leaderboard</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                          <li class="list-group-item">
                            <span class="badge">14</span>
                            Player One
                          </li>
                        </ul>
                    <p><a class="btn btn-default" href="#" role="button">View all &raquo;</a></p>
                    </div>
                </div>
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3" ng-controller="YearlyLeaderBoardControl">
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Yearly Leaderboard</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                          <li class="list-group-item">
                            <span class="badge">14</span>
                            Player One
                          </li>
                        </ul>
                    <p><a class="btn btn-default" href="#" role="button">View all &raquo;</a></p>
                    </div>
                </div>
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3" ng-controller="AllTimeLeaderBoardControl">
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">All Time Leaderboard</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                          <li class="list-group-item">
                            <span class="badge">14</span>
                            Player One
                          </li>
                          <li class="list-group-item">
                            <span class="badge">12</span>
                            Player Two
                          </li>
                        </ul>
                    <p><a class="btn btn-default" href="#" role="button">View all &raquo;</a></p>
                    </div>
                </div>
            </div><!-- /.col-lg-3 -->
          </div><!-- /.row -->


          <!-- START THE FEATURETTES -->

          <hr class="featurette-divider">
          <a name="start" style="padding-top: 100px"></a>
          <div class="row jumbotron" style="margin-left:250px; margin-right:250px" ng-controller="GameControl" ng-init="showbutton=true">
            <div class="col-lg-9 col-lg-offset-1">
                <button id="playgame" class="btn btn-default col-sm-8 col-md-offset-2" ng-show="showbutton" ng-click="showMenuPlayer1 = true; showbutton=false">Play Game</button>
                <div ng-show="showMenuPlayer1">
                  <h3 class="featurette-heading col-md-offset-2">Select the first player.</h3>
                    <select id="player1" name="selectedPlayer1" ng-model="selectedPlayer" class="col-sm-8 col-md-offset-2" ng-change="showMenuPlayer1 = false; showMenuPlayer2 = true">
                        <option ng-repeat="player in players" value="{{player.id}}">{{player.firstName}} {{player.lastName}}</option>
                    </select>
                </div>
                <div ng-show="showMenuPlayer2">
                    <h3 class="featurette-heading col-md-offset-2">Select the second player.</h3>
                    <select id="player2" name="selectedPlayer2" ng-model="selectedPlayer" class="col-sm-8 col-md-offset-2" ng-change="showstartbutton = true">
                        <option ng-repeat="player in players" value="{{player.id}}">{{player.firstName}} {{player.lastName}}</option>
                    </select>
                </div>
                <button id="startgame" class="btn btn-default col-sm-8 col-md-offset-2" ng-click="openmodal()"  ng-show="showstartbutton">Start Game</button>
            </div>
          </div>

          <hr class="featurette-divider">
          <a name="register" style="padding-top: 100px"></a>
          <div class="row jumbotron" style="margin-left:250px; margin-right:250px" ng-controller="registration">
            <div class="col-lg-9 col-lg-offset-1">
              <h3 class="featurette-heading col-md-offset-2">Add a new player</h3>
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <div class="col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" id="firstName" placeholder="First Name" ng-model="player.firstName">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model="player.lastName">
                        <button class="btn btn-default" ng-disabled="!player.firstName && !player.lastName" ng-click="registerPlayer(player)">Submit</button>
                    </div>
                  </div>
                </form>
            </div>
          </div>

          <hr class="featurette-divider">

            <!-- Start Modal -->

            <!-- End Modal -->

          <!-- /END THE FEATURETTES -->
          <footer>
              <p>© Shashidhar Dakuri 2014</p>
          </footer>
        </div><!-- /.container -->


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="js/lib/jquery.min.js"></script>
        <script src="js/lib/angular.min.js"></script>
        <script src="js/lib/angular-ui.min.js"></script>
        <script src="js/lib/bootstrap.min.js"></script>
        <script src="js/lib/bootstrap-dropdown.min.js" ></script>
        <script src="js/app.js"></script>
  </body>
</html>